@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    font-family: Russo One, serif;
}

.machine-wrapper {
    outline: 5px solid orange;
    width: 660px;
    height: auto;
    text-align: center;
    background-color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.machine-wrapper h3 {
    width: 200px;
    background-color: gray;
    margin: 15px auto;
    padding: 15px;
    box-sizing: border-box;
}

.pads-wrapper {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.pad, .pad-disabled{
    background-color: grey;
    box-shadow: black 3px 3px 5px;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.pad h1, .pad-disabled h1 {
    text-align: center;
    font-family: Russo One, serif;
}

.pad:active {
    background-color: orange;
}

.volume-control-wrapper h5 {
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.on-off-wrapper {
    width: 60px;
}
.on-off-wrapper h5 {
    margin: 25px 0 5px 0;
    width: 60px;
}
